{{- $values := include "anycableGo.values" . | fromYaml }}
{{- with $values }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "anycableGo.fullname" $ }}
  labels:
    app: {{ template "anycableGo.name" $ }}
    component: anycable-go
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}"
    release: {{ $.Release.Name | quote }}
    heritage: {{ $.Release.Service | quote }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .replicas | default 2 }}
  revisionHistoryLimit: {{ .revisionHistoryLimit | default 10 }}
  selector:
    matchLabels:
      app: {{ template "anycableGo.name" $ }}
      component: anycable-go
      release: {{ $.Release.Name | quote }}
  strategy:
    {{- with (.rollingUpdate | default dict) }}
    rollingUpdate:
      maxSurge: {{ .maxSurge | default 1 }}
      maxUnavailable: {{ .maxUnavailable | default 1 }}
    type: RollingUpdate
    {{- end }}
  template:
    metadata:
      labels:
        app: {{ template "anycableGo.name" $ }}
        component: anycable-go
        chart: "{{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}"
        release: {{ $.Release.Name | quote }}
        heritage: {{ $.Release.Service | quote }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/env-secret.yml") $ | sha256sum }}
        {{- if .annotations }}
        {{- range $key, $value := .annotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
      name: {{ $.Release.Name | quote }}
    spec:
      {{- if .serviceAccountName }}
      serviceAccountName: {{ .serviceAccountName }}
      {{- end }}
      {{- if .nodeSelector }}
      nodeSelector: {{ toYaml .nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: {{ template "anycableGo.name" $ }}
                    release: {{ $.Release.Name | quote }}
              weight: 100
      {{- if .image.pullSecrets.enabled }}
      imagePullSecrets:
        - name: "{{ $.Release.Name }}-docker-registry-secret"
      {{- end }}
      containers:
        - name: anycable-go
          {{- with .env }}
          ports:
            - name: http
              containerPort: {{ .anycablePort | required "A valid listening port for anycable is required! Please specify `env.anycablePort` in values!" }}
              protocol: TCP
            {{- if .anycableMetricsPort }}
            - name: metrics
              containerPort: {{ .anycableMetricsPort }}
              protocol: TCP
            {{- end }}
          {{- end }}
          envFrom:
            - secretRef:
                name: "{{ template "anycableGo.fullname" $ }}-secrets"
            {{- range $name := .secrets }}
            - secretRef:
                name: {{ $name | quote }}
            {{- end }}
          image: "{{ .image.repository }}:{{ .image.tag }}"
          imagePullPolicy: {{ .image.pullPolicy | quote }}
          {{- if hasKey $values "livenessProbe" }}
          livenessProbe: {{ toYaml .livenessProbe | nindent 12 }}
          {{- else }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
              scheme: {{ if .tls }}HTTPS{{ else }}HTTP{{ end }}
            initialDelaySeconds: 90
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          {{- end }}
          {{- if hasKey $values "readinessProbe" }}
          readinessProbe: {{ toYaml .readinessProbe | nindent 12 }}
          {{- else }}
          readinessProbe:
            httpGet:
              path: /health
              port: http
              scheme: {{ if .tls }}HTTPS{{ else }}HTTP{{ end }}
            initialDelaySeconds: 15
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          {{- end }}
          {{- if .resources }}
          resources: {{ toYaml .resources | nindent 12 }}
          {{- end }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          {{- if .tls }}
          volumeMounts:
            - name: ssl
              mountPath: "/etc/ssl/anycable-go"
              readOnly: true
          {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      {{- if .tls }}
      volumes:
        - name: ssl
          secret:
            secretName: {{ .tls.secretName | quote }}
      {{- end }}
{{- end }}
