apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ template "anycableGo.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
  name: {{ template "anycableGo.fullname" . }}
spec:
  ports:
  - name: http
    port: 443
    protocol: TCP
    targetPort: http
  {{- if .Values.env.anycableMetricsPort }}
  - name: metrics
    port: {{ .Values.env.anycableMetricsPort }}
    protocol: TCP
    targetPort: metrics
  {{- end }}
  selector:
    app: {{ template "anycableGo.name" . }}
    component: anycable-go
    release: {{ .Release.Name | quote }}
  type: {{ .Values.caremessage.servicetype }}
